@import 'bootstrap/bootstrap.css'
@import 'syntax.css'
@import 'custom.css'
@import 'tweet.css'

a, a:link
	cursor pointer

body
	padding-top 60px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD