<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString"
         value="Endpoint=sb://CoAppService.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=fXMgR4ns2w6+AWCjDWCrypTXph5L2dIW/5vLthluMNI=" />
  </appSettings>

</configuration>
