---
layout: 'default'
title: 'Developers'
order: 8
rightsideboxes: ['headlines.inc' ,'coapp-commits.inc' ]
---
# Contributing to the ecosystem

CoApp is a community project, and we're always looking for more help.

This section contains tutorials about how you can help out with CoApp.

<!-- You might also want to [check out the Learning section](/pages/learn.html) to discover more about the [design of CoApp](/learn/coapp-design.html)  -->

## Developer How-to tutorials
    
### I want to help build CoApp 

[Getting setup with Git and GitHub](/developers/git.html) <span class="label notice">Video</span>
[Setting up the development environment](/developers/development-environment.html)
[Check out the source code](/developers/source-code.html)
<span class="label success">New!</span> [Building the CoApp toolkit](/developers/building-toolkit.html)
<span class="label warning">Coming Soon!</span> [Building the CoApp developer tools](/developers/building-devtools.html)

### I want to help build CoApp Packages 
<span class="label success">New!</span> **[CoApp Packaging Best Practices](/developers/packagingbestpractices.html)** - Considerations for package developers and publishers
<span class="label success">New!</span> [The Shallow forking process](/developers/shallow-forking.html)
<span class="label warning">Coming Soon!</span> [Using PTK to automate a build](/developers/ptk.html)
<span class="label warning">Coming Soon!</span> [Creating an autopackage script for shallow forks](/developers/autopackage-forks.html)

### I want to build CoApp packages for my own software
<span class="label success">New!</span> **[CoApp Packaging Best Practices](/developers/packagingbestpractices.html)** - Considerations for package developers and publishers
<span class="label warning">Coming Soon!</span> [Creating an autopackage script for my own software](/developers/autopackage.html)
<span class="label warning">Coming Soon!</span> [Publishing my own packages](/developers/publishing.html)
<span class="label warning">Coming Soon!</span> [Publishing Updates to my packages](/developers/publish-updates.html)

### I can help write documentation or add to the website
<span class="label success">New!</span> [Checking out the source for CoApp website](/developers/check-out-website.html)
<span class="label success">New!</span> [Making modifications to CoApp website](/developers/modify-website.html)
<span class="label success">New!</span> [Pushing patches back to CoApp website](/developers/push-patches.html)
<span class="label success">New!</span> [Transcoding a video into .mp4 (h.264) and .webm formats][developer:encoding-video] <span class="label notice">Video</span> 


### I've found some bugs in CoApp (or a package)
<span class="label success">New!</span> [Filing bugs for CoApp on GitHub](/developers/filing-bugs.html)
<span class="label warning">Coming Soon!</span> [Filing bugs for CoApp package on GitHub](/developers/filing-package-bugs.html)




### Interacting with the community
[Find us on IRC](/developers/irc.html)
[Send us some email](/developers/email.html)