---
layout: 'default'
title: 'Packages'
order: 4
rightsideboxes: ['headlines.inc' ,'coapp-commits.inc' ]
---
<script type="text/javascript" src="/scripts/iso8601.min.js"></script> 
<script type="text/javascript" src="/scripts/jquery.jfeed.js"></script> 
<script type="text/javascript" src="/scripts/feed.js"></script>
<script type="text/javascript" src="/scripts/bootstrap/bootstrap-tabs.js"></script> 

# Packages

## What is a CoApp package?

A software package is a file that has been prepared in such a way that it contains all of the compiled code and metadata needed for it to be installed, updated or removed by an installer or package management system. In the case of CoApp, packages are the final output of a build process that produces Windows-optimized MSI files that can be installed, updated or removed by the Windows Installer (WiX) on Windows Servers.

Another way to think about the packages produced by CoApp is that they are shallow forks of libraries and applications that are maintained by communities of developers who make regular and frequent changes to their code bases and whose code bases typically support multiple hardware architectures. A shallow fork is a snapshot of one node of the code base that can be optimized and built for installation on a particular server with the intention of resynching the with the original code base over short intervals. Packages built using CoApp lend themselves to a consistent method of installing, updating and removing software and staying up-to-date with changes to the software's code base.

## Packages Repository

<p class="alert-message block-message success">
    <b>Go-live Beta Feature!</b> The package feed listing is still in active development, but you can start using it now!
</p>
<noscript>
<p class="alert-message warning">
    <b>Warning:</b> You will need to enable Javascript in your browser to see the package listing.
</p>
</noscript>
<div id="result" />
