---
layout: 'default'
title: 'Reference'
order: 18
--- 

If you are looking for tutorials on publishing NuGet packages for C/C++ using CoApp's tools, take a look at the [Tutorials](/pages/tutorials.html) page

## Getting Started with the CoApp PowerShell Tools
**[Installing CoApp Developer Tools](/tutorials/installation.html)** - Step-by-step instructions on installing and running the CoApp developer tools 
**[Consuming CoApp packages](/tutorials/consuming.html)** - How to find and use the packages.

## Detailed CoApp Powershell Tools help
**[Write-NuGetPackage](/reference/write-nugetpackage.html)** - Writes out a NuGet native package
**[Update-CoAppTools](/reference/update-coapptools.html)** - Download and installs an update to the CoApp tools
**[Publish-NuGetPackage](/reference/publish-nugetpackage.html)** - Uploads a NuGet package to the package repository

<span class="label success">New!</span> **[Show-CoAppToolsVersion](/reference/show-coapptoolsversion.html)** - Displays the current version number of the CoApp PowerShell Tools
<span class="label warning">Soon</span> **[Set-CodeSignature](/reference/set-codesignature.html)** - Digitally signs a file (replaces signtool)

## CoApp File Formats
<span class="label success">New!</span> **[Autopackage script format](/reference/autopackage-ref.html)** - Autopackage script files format and documentation
<span class="label success">New!</span> **[Property Sheet Format](/reference/overview.html)** -  usage information that is common to all/most CoApp command line tools
<span class="label warning">Soon</span> [Buildinfo script format](/reference/buildscript.html) - Build automation script files format and documentation

## CoApp Powershell CodeSigning Tools (not-yet-ready-for-primetime)
<span class="label warning">Soon</span> **[Set-CodeSignature](/reference/set-codesignature.html)** - Digitally sign a file (binary, script or package)
<span class="label warning">Soon</span> **[Set-PublicCertificate](/reference/set-publiccertificate.html)** - 
<span class="label warning">Soon</span> **[Set-SignatureViaService](/reference/set-signatureviaservice.html)** - 

## CoApp RESTable Powershell cmdlets (not-yet-ready-for-primetime)
<span class="label warning">Soon</span> [Get-UploadLocation](/reference/get-uploadlocation.html) - Get an upload token from an Azure Blob Storage
<span class="label warning">Soon</span> [Add-RestCmdlet](/reference/add-restcmdlet.html) - Add A RESTable cmdlet to to the service
<span class="label warning">Soon</span> [Remove-RestCmdlet](/reference/remove-restcmdlet.html) - Remove A RESTable cmdlet to to the service
<span class="label warning">Soon</span> [](/reference/set-defaultremoteservice.html) - 
<span class="label warning">Soon</span> [Start-RestService](/reference/start-restservice.html) - Start the RESTable cmdlet service
<span class="label warning">Soon</span> [Stop-RestService](/reference/stop-restservice.html) - Stops the RESTable cmdlet service

## More CoApp Powershell Tools (not-yet-ready-for-primetime)
<span class="label warning">Soon</span> [Copy-ItemEx](/reference/copy-itemex.html) - Build automation tool
<span class="label warning">Soon</span> [Get-AzureCredentials](/reference/get-azurecredentials.html) - Build automation tool
<span class="label warning">Soon</span> [Invoke-Build](/reference/invoke-build.html) - Build automation tool

## 

<!--
# CoApp
[coapp.exe](/reference/coappcommandline.html) - CoApp command line utility

# CoApp Developer Tools
**[pTk.exe](/reference/ptk.html)** - CoApp 'porting toolkit'
**[Autopackage.exe](/reference/autopackage.html)** - Creating packages for distribution
**[Simplesigner.exe](/reference/simplesigner.html)** - Signing, Strongnaming and manipulating metadata in binaries
**[mkRepo.exe](/reference/mkrepo.html)** - Generate an ATOM feed for a repository
**[RepositoryService](/reference/repositoryservice.html)** - An automated atom feed generator with upload service

# Technical References
<span class="label success">New!</span> **[Overview of CoApp](/reference/overview.html)** - General information about CoApp
<span class="label success">New!</span> **[CoApp Technical Background](/reference/tech-background.html)** - Brief description of how CoApp does what it does
<span class="label success">New!</span> **[In-Depth Technical Discussion](/reference/in-depth-tech.html)** - In-Depth descriptions of CoApp's underlying technologies

<span class="label success">New!</span> **[Sys Admin Setup Guide](/reference/SysAdminSetup.html)** - Short walkthrough of a domain setup (Includes a reference for settings/rights administration)

<span class="label success">New!</span> **[Side-by-side][reference:side-by-side]** - A techincal article on Windows Side-by-side (WinSxS)

-->

# Website/Docpad References
**[Garrett-Flavored-Markdown](/reference/garrett-flavored-markdown.html)** Reference
