--- 
layout: default 
---
<div class="post">
    <!-- This is the posts header text -->
    <h2>
        <a href="{{page.url}}" rel="bookmark" title="{{page.title}}">{{page.title}}</a></h2>
    <!-- This is the date and author -->
    <small>{{page.date | date: "%B %d, %Y"}} by {{page.author}}</small>
    <div class="entry">
        {{content}}
    </div>
    <p class="postmetadata">
        <a href="{{page.url}}#comments"
            title="Comment on {{page.title}}"><span
                class="dsq-postid" rel="{{page.postid}} http://www.coapp.org{{page.id}}/">View
                Comments</span> </a>
    </p>

    <!-- Disqus Comment System -->
    <a name="comments" />
    <div id="disqus_thread">
        <div id="dsq-content">
        </div>
    </div>
    <ul id="dsq-comments">
    </ul>
    <script type="text/javascript">
        //var disqus_url = 'http://www.coapp.org{{page.id}}/ ';
        //var disqus_identifier = '{{page.postid}} http://www.coapp.org{{page.id}}/';
        //var disqus_container_id = 'disqus_thread';
        //var disqus_domain = 'disqus.com';
       // var disqus_shortname = 'coapp';
        //var disqus_title = "{{page.title}}";
        //var disqus_config = function () {
        //    var config = this; // Access to the config object

            /* 
            All currently supported events:
            * preData — fires just before we request for initial data
            * preInit - fires after we get initial data but before we load any dependencies
            * onInit  - fires when all dependencies are resolved but before dtpl template is rendered
            * afterRender - fires when template is rendered but before we show it
            * onReady - everything is done
            */

//            config.callbacks.preData.push(function () {
//                // clear out the container (its filled for SEO/legacy purposes)
//                document.getElementById(disqus_container_id).innerHTML = '';
//            });
/            config.callbacks.onReady.push(function () {
//                // sync comments in the background so we don't block the page
//                DISQUS.request.get('?cf_action=sync_comments&post_id=956');
//            });
//        };
    </script>
    <script type="text/javascript">
//        var DsqLocal = {
//            'trackbacks': [],
//        };
    </script>
    <script type="text/javascript">
//        (function () {
//            var dsq = document.createElement('script'); dsq.type = 'text/javascript';
//            dsq.async = true;
//            dsq.src = 'http://' + disqus_shortname + '.' + disqus_domain + '/embed.js?pname=wordpress&pver=2.50';
            //(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
//        })();
    </script>
    <!-- End of Disqus Comment System -->
</div>
