scihtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	background: #FFF;
	font-family: "Segoe UI", Verdana, sans-serif;
	font-size: 13px;
	color: #666666;
}

ol, ul {
	list-style: none;
}



blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

.Color2 {
	color: #f1f1f1;
}
.Color4_Bg, .C03, #BannerZone {
	background-color: #FDB309;
}
.Color4 {
	color: #A8071A;
}
.Color5 {
	color: #82ce35;
}
#BgLayer1 {
	min-height: 100%;
	position: relative;
	background-color: #fff;
	background-position: left top;
	background-attachment: scroll;
	background-repeat: repeat;
	background-image: none;
}
.MenuVWidth {
	width: 240px;
}
#MainContentArea {
	display: block;
	padding-left: 15px;
	margin-left: 240px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI",Helvetica,Arial,Sans-Serif;
}
html, body {
	font-size: 14px;
}
a:hover {
	text-decoration: none;
	color: #2E5C8C;
}
input[type=submit], button[type=submit], .btn {
	background-color: #2E5C8C;
	color: #fff;
}
.MenuH01 .mi .txt {
	display: inline-block;
	font-family: inherit;
	font-size: 1.4em;
	text-decoration: none;
	color: #666;
	padding: 11px;
}
.MenuV01 .mi {
	display: block;
	text-decoration: none;
	background-color: #f1f1f1;
	margin: 0 0 1px;
}
.MenuV01 .mi .txt {
	display: block;
	font-family: inherit;
	font-size: 1em;
	text-decoration: none;
	color: #666;
	padding: 30px 11px 10px;
}
#BannerZone {
	margin-bottom: 20px;
	background-color: #A8071A;
}
.C03 {
	background-color: #A8071A;
	color: #fff;
	margin: 0 7px 10px;
}
.C04 {
	background-color: #82ce35;
	color: #fff;
	margin: 0 7px 10px;
}
h1, h2, h3, h4, h5, h6, p, li {
	line-height: 1.3em;
}
h1 {
	font-size: 1.8em;
	line-height: 1.5em;
	color: #2E5C8C;
	font-family: "Segoe UI", Verdana, sans-serif;
	padding-left: 140px;
	margin-top: 20px;
	font-weight: bold;
}

h1 a {
	color: #2E5C8C;
}
h2 {
	color: #333;
	font-size: 1.5em;
	margin-bottom: .4em;
	font-family: "Segoe UI", Verdana, sans-serif;
}
h3 {
	color: #555;
	font-size: 1.2em;
	margin-bottom: .5em;
	font-family: "Segoe UI", Verdana, sans-serif;
}
h4 {
	font-size: 1.2em;
	margin-bottom: .5em;
	color: #2E5C8C;
	font-family: "Segoe UI", Verdana, sans-serif;
}
p {
	font-size: 100%;
	margin: 0 0 1em;
}
p img.left {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}
p img.right {
	float: right;
	margin: 1.5em 0 1.5em 1.5em;
}
a, a:link, a:visited, a:active {
	text-decoration: underline;
}
blockquote {
	color: #777;
	font-family: inherit;
	font-size: 1em;
	font-style: italic;
}
sup, sub {
	line-height: 0;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
address {
	font-style: italic;
	margin: 0 0 1.5em;
}
pre {
	white-space: pre;
	margin: 1.5em 0;
}
pre, code, tt {
	font: 1em andale mono,lucida console,monospace;
	line-height: 1.5;
}
ul, ol {
	padding-left: 2.5em;
	margin: 0 1.5em 1.5em 0;
}
ul, ul li {
	list-style-type: none;
	margin-left: -20px;
}
ol, ol li {
	list-style-type: decimal;
}
dl {
	margin: 0 0 1.5em;
}
dl dt {
	color: #000;
	font-weight: 400;
}
dd {
	margin-left: 1.5em;
}
.Form dt, .Form dd {
	float: left;
	padding-top: 6px;
}
.Form dt {
	clear: both;
	width: 150px;
}

hr {
	background: #ccc;
	border: none;
	height: 1px;
}
fieldset {
	background: #f9f9f9;
	border: 1px #d0d0d0 solid;
	margin-bottom: 10px;
	padding: 10px;
}
legend {
	font-family: inherit;
	font-size: inherit;
}
input[type=password], input[type=text], textarea, select {
	background: #fff;
	color: #000;
	font-family: inherit;
	font-size: 1em;
	border-color: #d0d0d0 !important;
	border-style: solid !important;
	border-width: 1px;
	margin: .25em 0;
	padding: 3px;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}
html {
	height: 100%;
	font-size: 13px;
}
body, #body, #Body, #form, #Form {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#BgLayer2, #BgLayer3 {
	height: 100%;
}
#Wrapper {
	height: 100%;
	min-height: 100%;
}
#Outer {
	background: #fff;
	display: table;
	margin: 0 auto;
	padding: 0 15px;
}
#HeaderArea {
}
#NavAux {
	float: right;
	position: relative;
}
#NavAux div {
	background: #f1f1f1;
	float: right;
	margin-left: 1px;
	height: 16px;
	padding: 40px 40px 10px 10px;
}
#NavAux div div {
	background: transparent;
	float: none;
	margin-left: 0;
	height: auto;
	padding: 0;
}
#LeftZone .container {
	margin-left: 0;
	margin-right: 0;
}
#ContentArea {
	margin-bottom: 15px;
	clear: both;
}
#FooterContentArea {
	margin-bottom: 15px;
	overflow: hidden;
}
#Footer {
	clear: both;
	border-top: 1px #f1f1f1 solid;
	padding: 10px 10px 30px;
}
#Footer > span {
	border-right: 1px #ddd solid;
	margin-right: 5px;
	padding-right: 5px;
}
#SearchContainer {
	position: absolute;
	left: -220px;
	top: 0;
	height: 66px !important;
	width: 300px;
	overflow: hidden;
}
#SearchContainer, #SearchContainer:hover {
	background-color: transparent !important;
}
#NavAux div div#SearchField {
	background: #f1f1f1;
	position: absolute;
	right: -220px;
	top: 0;
	overflow: hidden;
	width: 200px;
	height: 66px !important;
	margin: 0;
	padding: 20px 0 0 20px !important;
}
#NavAux div div#SearchLink {
	background: #f1f1f1;
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 1;
}

#Logo {
	float: left;
	padding: 10px 10px 0;
}
.MenuH01 {
	float: left;
	margin-bottom: 10px;
	margin-top: 40px;
}
.MenuH01 .mi {
	display: inline-block;
	text-decoration: none;
}
.MenuV01 {
	margin-bottom: 15px;
}
.submenu {
	border: 1px #ccc solid !important;
	margin-bottom: 1px;
	width: 150px;
	z-index: 9999;
}
.submenu .mi {
	display: block !important;
	text-decoration: none;
	margin: 0;
}
.submenu .mi .txt {
	display: block;
	font-size: .85em !important;
	text-decoration: none;
	text-transform: none;
	padding: 6px 12px;
}
.submenu .mi, .submenu .hov, .submenu .sel {
	background: transparent none !important;
}
#Search {
	position: relative;
	width: 30px;
}
#Search input[type=text]{
	background: #fff;
	border: 1px transprent solid;
	font-size: 10px;
	line-height: 15px;
	width: 150px !important;
	margin: 0;
}
#Search button[type=submit]{
	background: transparent url(images/search.go.png) no-repeat top left;
	border: none;
	display: inline-block;
	font-size: 0;
	height: 25px;
	line-height: 25px;
	margin-left: 3px;
	vertical-align: top;
	width: 37px;
}
.Settings {
	text-align: left !important;
}

.Normal, .normal, strong, s b, .NormalBold, .NormalRed {
	font-family: inherit;
	font-size: 100%;
}
.NormalRed {
	color: #c00;
}
.Head {
	color: #333;
	font-family: inherit;
	font-size: 120%;
	font-weight: 700;
	text-transform: uppercase;
}
.SubHead {
	color: #222;
	font-family: inherit;
	font-size: 100%;
}
a.CommandButton, a.CommandButton:active, a.CommandButton:visited, a.CommandButton:link {
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	text-decoration: underline;
}
a.CommandButton:hover {
	color: inherit;
}
.StandardButton {
	background: #e1e1e1;
	border: 1px #AAA solid;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	margin: 5px 0;
	padding: 5px;
}
.NormalTextBox {
	font-family: inherit;
	font-size: inherit;
	padding-left: 4px;
}
.search-form fieldset{
	background:transparent;
	border:none;
	margin:0;
	padding:0;
}
.search-form button[type=submit]{
	cursor:pointer;
	margin:0;
}
td.NormalTextBox, span.NormalTextBox {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}
.SubHead label span {
	font-family: Arial,sans-serif;
	font-weight: 500;
}
.pane {
	display: inline;
	float: left;
	text-align: left;
	vertical-align: top;
}
.w5 {
	width: 5%;
}
.w10 {
	width: 10%;
}
.w15 {
	width: 15%;
}
.w20 {
	width: 20%;
}
.w25 {
	width: 25%;
}
.w30 {
	width: 30%;
}
.w33 {
	width: 33%;
}
.w34 {
	width: 34%;
}
.w35 {
	width: 35%;
}
.w40 {
	width: 40%;
}
.w45 {
	width: 45%;
}
.w50 {
	width: 50%;
}
.w55 {
	width: 55%;
}
.w60 {
	width: 60%;
}
.w65 {
	width: 65%;
}
.w66 {
	width: 66%;
}
.w70 {
	width: 70%;
}
.w75 {
	width: 75%;
}
.w80 {
	width: 80%;
}
.w85 {
	width: 85%;
}
.w90 {
	width: 90%;
}
.w100 {
	width: 100%;
}
.EmptyPane {
	width: 0;
	height: 0;
	line-height: 0;
	display: none;
	margin: 0;
	padding: 0;
}
.showZone span {
	border: 1px #777 dotted;
	color: #999;
	display: block;
	text-align: center;
	margin: 1px;
	padding: 10px;
}
.paneOutline .SubHead {
	border: 1px #777 dotted;
	color: #999;
	display: block;
	margin: 1px;
	padding: 10px;
}
#Search span {
	font-size: 0;
}
.MenuH {
	white-space: nowrap;
}
.submenu tr.mi td {
	padding: 0 0 0 1px;
}
div.language-object {
	line-height: 10px;
}
.mi .icn img {
	margin: 4px 0 4px 6px;
}
.C00_CleanWPadding {
	padding: 10px;
}
.C01 {
	margin: 0 7px 10px;
}
.C02 {
	border: 1px #ddd solid;
	margin: 0 7px 10px;
}
.C02 .TL {
	border-bottom: 1px #ddd solid;
}
.C02 .TM {
	padding: 5px 6px 5px 12px;
}
.Color0_Bg {
	background-color: #2E5C8C;
}
.Color4_Bg {
	background-color: #A8071A;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section, .MenuH01 .menu, .MenuV01 .menu {
	display: block;
}
a img, #Logo img, .paneOutline {
	border: none;
}
.Color0_Bg, input[type=submit], button[type=submit], .btn, .Color3_Bg, .MenuV01 .hov, .MenuV01 .sel, #NavAux div:hover, #SearchContainer:hover #SearchField, #SearchContainer:hover #SearchLink, #NavAux div:hover, #SearchContainer:hover #SearchField, #SearchContainer:hover #SearchLink, .MenuV01 .hov, .MenuV01 .sel {
	background-color: #4890DC;
}
.Color0, h1, h4, a, a:link, a:active, a:visited, a:hover, .Color3, .MenuH01 .hov .txt, .MenuH01 .sel .txt, .MenuH01 .submenu .hov .txt, .MenuH01 .submenu .sel .txt, .MenuV01 .submenu .hov .txt, .MenuV01 .submenu .sel .txt, a, a:link, a:active, a:visited, .MenuH01 .hov .txt, .MenuH01 .sel .txt, .MenuH01 .submenu .hov .txt, .MenuH01 .submenu .sel .txt, .MenuV01 .submenu .hov .txt, .MenuV01 .submenu .sel .txt {
	color: #4890DC;
}
.Color1_Bg, #BgLayer1, .Color1_Bg {
	background-color: #fff;
}
.Color1, #NavAux div:hover a, #NavAux div:hover span, input[type=submit], button[type=submit], .btn, a.btn, a.btn:link, a.btn:visited, a.btn:active, .MenuV01 .hov .txt, .MenuV01 .sel .txt, .C03 .CTitle, .C03, .C03 p, .C03 td, .C03 div, .C03 span, .C04 .CTitle, .C04, .C04 p, .C04 td, .C04 div, .C04 span, #NavAux div:hover a, #NavAux div:hover span, a.btn, a.btn:link, a.btn:visited, a.btn:active, .MenuV01 .hov .txt, .MenuV01 .sel .txt, .C03 p, .C03 td, .C03 div, .C03 span, .C04 p, .C04 td, .C04 div, .C04 span {
	color: #fff;
}
.Color2_Bg, .MenuV01 .mi, .Color2_Bg {
	background-color: #f1f1f1;
}
.Color5_Bg, .C04, .Color5_Bg {
	background-color: #82ce35;
}
.PageWidth, .w95 {
	width: 97%;
}
#User a, #Login a, #Logo a, #Copyright .Copyright, #Privacy a, #Terms a, .MenuH01 .submenu .mi .txt, .MenuV01 .submenu .mi .txt, del, #Logo a, #Copyright .Copyright, #Privacy a, #Terms a {
	color: #666;
}
.MenuH01 .submenu, .MenuV01 .submenu {
	background-color: #f9f9f9;
}
.C01 .CTitle, .C02 .CTitle, .C01 .CTitle, .C02 .CTitle {
	color: #333;
}
.C03 h1, .C03 h2, .C03 h3, .C03 h4, .C03 h5, .C03 h6, .C03 a, .C04 h1, .C04 h2, .C04 h3, .C04 h4, .C04 h5, .C04 h6, .C04 a, th, thead, tfoot, .C03 h1, .C03 h2, .C03 h3, .C03 h4, .C03 h5, .C03 h6, .C04 h1, .C04 h2, .C04 h3, .C04 h4, .C04 h5, .C04 h6 {
	color: #000;
}
.C03 input[type=submit], .C03 button[type=submit], .C03 .btn, .C04 input[type=submit], .C04 button[type=submit], .C04 .btn, .C03 input[type=submit], .C03 button[type=submit], .C03 .btn, .C04 input[type=submit], .C04 button[type=submit], .C04 .btn {
	background-color: #4890DC;
	color: #fff;
}
h5, h6 {
	color: #000;
	font-size: 1em;
	margin-bottom: .5em;
	font-family: "Segoe UI", Verdana, sans-serif;
}
strong, b, dfn {
	font-weight: 700;
}
em, dfn, i, tfoot {
	font-style: italic;
}
li ul, li ol, .ModuleTitle_MenuIcon img {
	margin: 0;
}
thead th, tr.even td {
	background: #f1f1f1;
}
.left, #SideBar, .C01 .c_icon, .C02 .c_icon, .C03 .c_icon, .C04 .c_icon {
	float: left;
}
.right, .C01 .c_visibility, .C02 .c_visibility, .C03 .c_visibility, .C04 .c_visibility {
	float: right;
}
#Copyright, #Privacy, #Terms {
	display: inline-block;
	font-size: .85em;
}
#Login a, #User a {
	text-decoration: none;
	color: #666;
}

.ControlPanel .IconTop input, div.language-object span.Language img {
	border: none !important;
}
.ModuleTitle_SubMenu td + td + td, .ModuleTitle_RootMenuArrow, .ModuleTitle_MenuArrow, .ModuleTitle_MenuBreak, .paneOutline .SubHead br, .C03 .BL, .C04 .BL {
	display: none;
}
.zonegroup, .C00_Clean .c_head, .C00_CleanWPadding .c_head, .C01 .c_head, .C02 .c_head, .C03 .c_head, .C04 .c_head {
	overflow: hidden;
}
.C00_Clean.container, .C00_CleanWPadding.container {
	margin: 0 10px 10px;
}
.C00_Clean .c_actions, .C00_CleanWPadding .c_actions, .C01 .c_actions, .C02 .c_actions, .C03 .c_actions, .C04 .c_actions {
	float: left;
	max-width: 15px;
	min-width: 0;
	margin: 0;
}
.C00_Clean .c_icons, .C00_CleanWPadding .c_icons, .C01 .c_icons, .C02 .c_icons, .C03 .c_icons, .C04 .c_icons {
	clear: both;
	padding-top: 5px;
}
.C00_Clean .c_icons a:hover, .C00_CleanWPadding .c_icons a:hover, .C01 .c_icons a:hover, .C02 .c_icons a:hover, .C03 .c_icons a:hover, .C04 .c_icons a:hover {
	background-color: transparent;
}
.C00_Clean .c_icons a .C00_Clean .c_icons input, .C00_CleanWPadding .c_icons a .C00_CleanWPadding .c_icons input, .C01 .c_icons a .C01 .c_icons input, .C02 .c_icons a .C02 .c_icons input, .C03 .c_icons a .C03 .c_icons input, .C04 .c_icons a .C04 .c_icons input {
	padding: 0;
}
.C01 .TM, .C03 .TM, .C04 .TM {
	padding: 5px 6px 0 12px;
}
.C01 .TM .CTitle, .C02 .TM .CTitle, .C03 .TM .CTitle, .C04 .TM .CTitle {
	font-family: inherit;
	font-size: 1.4em;
	line-height: 1.5em;
}
.C01 .MM, .C02 .MM, .C03 .MM, .C04 .MM {
	padding: 10px 6px 10px 12px;
}
.C01 .c_icon img, .C02 .c_icon img, .C03 .c_icon img, .C04 .c_icon img {
	margin: 0 3px;
}
.Color0, a, a:link, a:active, a:visited {
	color: #2E5C8C;
}
.Color3_Bg, .MenuV01 .hov, .MenuV01 .sel, #NavAux div:hover, #SearchContainer:hover #SearchField, #SearchContainer:hover #SearchLink {
	background-color: #4267C7;
}
.Color3, .MenuH01 .hov .txt, .MenuH01 .sel .txt, .MenuH01 .submenu .hov .txt, .MenuH01 .submenu .sel .txt, .MenuV01 .submenu .hov .txt, .MenuV01 .submenu .sel .txt {
	color: #4267C7;
}
#BgLayer3, #BgLayer2 {
	background-color: rgba(0, 0, 0, 0);
	background-position: left top;
	background-attachment: scroll;
	background-repeat: repeat;
	background-image: none;
}

.btn {
	padding: 10px;
	margin: 10px 10px 10px 10px;
	
}

.rightButton {
	text-align: right;	

}

ul, ol {
	list-style-type: none;
}
li, dd {
  margin-left: 7px;
  list-style-type: none;
}

#BigTitle {
	font-size:3.0em; 
	color: #2E5C8C;
}

#Logo a, #Logo a:link, #Logo a:visited, #Logo a:active {
	text-decoration: none;
}


.tweet, .query {
  font-family: "Segoe UI",Helvetica,Arial,Sans-Serif;
  font-size: 90%;
  color: #ffffff; 
}

.tweet .tweet_list, .query .tweet_list {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
    list-style-type: none;
    margin: 3px;
    padding-left: 25px;
    overflow-y: hidden;
    background-color: #4267C7;
}

.tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {
	text-transform: uppercase; 
}

.tweet .tweet_list li, .query .tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5em; 
}

.tweet .tweet_list li a, .query .tweet_list li a {
	color: #dddddd; 
	font-style: italic;
}

.tweet .tweet_list .tweet_even, .query .tweet_list .tweet_even {
  background-color: #2E5C8C;
  margin-right: .45em;
}

.tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left; 
}

.tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {
	vertical-align: middle; 
}





.pretty-table, table
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  font-family: "Segoe UI", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
  background: #bcd0e4 url("/images/widget-table-bg.jpg") top left repeat-x;
}

.pretty-table caption, caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table th, .pretty-table td, th, td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #632a39;
}

.pretty-table th[scope=col], th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.pretty-table th+th[scope=col], th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.pretty-table th[scope=row], th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.pretty-table tr.alt th, .pretty-table tr.alt td, tr.alt th, tr.alt td
{
  color: #2a4763;
}

.pretty-table tr:hover th[scope=row], .pretty-table tr:hover td, tr:hover th[scope=row], tr:hover td
{
  background-color: #2a2a66;
  color: #fff;
}

.smaller {
	font-size: 0.7em;
	font-style: italic;
}